// src/app/pages/home-page/home-page.component.scss

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h1 {
    font-size: 2.5em;
    color: var(--ion-color-primary);
  }
  
  p {
    font-size: 1.1em;
    color: var(--ion-color-medium);
    max-width: 600px;
  }